@model ThucTapTaiTruong.Models.Entities.TheLoai

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
} 
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">Xóa thể loại</strong>
                        </div>
                        <div class="col-md-6 text-right">                           
                            <a href="~/Admin/TheLoais/Edit/@Model.MaTheLoai" class="btn btn-sm btn-success">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button class="btn btn-sm btn-danger" type="submit" name="Delete"><i class="fas fa-trash"></i></button>
                            <a href="@Url.Action("Index", "TheLoais")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left" s></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>
                        <h4>TheLoai</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.TenTheLoai)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TenTheLoai)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DoUuTien)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DoUuTien)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.TrangThai)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TrangThai)
                            </dd>

                        </dl>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

