@model ThucTapTaiTruong.Models.Entities.NguoiDung

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

        <!-- Main content -->
        <section class="content my-2">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">Ten</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <a href="~/Admin/NguoiDungs/Edit/@Model.MaND" class="btn btn-sm btn-success">
                                <i class="fa fa-edit"></i>
                            </a>
                            <button class="btn btn-sm btn-danger" type="submit" name="Delete"><i class="fas fa-trash"></i></button>
                            <a href="@Url.Action("Index", "NguoiDungs")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left" s></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div>

                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ChucVu.TenChucVu)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.HoTenND)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.HoTenND)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Password)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SoDienThoai)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SoDienThoai)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DiaChi)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DiaChi)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.NgaySinh)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.NgaySinh)
                            </dd>

                        </dl>





                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}

