@model IEnumerable<ThucTapTaiTruong.Models.Entities.SanPham>
<main class="site-main">
    <div class="block-section-1">
        <div class="main-slide slide-opt-1 full-width">
            <div class="owl-carousel nav-style1" data-nav="true" data-autoplay="false" data-dots="false"
                 data-loop="true" data-margin="0"
                 data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":1}}'>
                <div class="item-slide item-slide-1">
                    <div class="slide-desc slide-desc-1">
                        <div class="p-primary">Discovery The home Furniture</div>
                        <p>Vehicula curae mi senectus sodales proin, ultricies gravida suspendisse.</p>
                        <a href="#" class="btn-shop-now">Shop Now</a>
                    </div>
                </div>
                <div class="item-slide item-slide-2">
                    <div class="slide-desc slide-desc-2">
                        <div class="p-primary">Chair Furniter Collection In Outdoor</div>
                        <p>Inceptos aptent eleifend metus. Porta montes nibh sed mollis nascetur dui</p>
                        <a href="#" class="btn-shop-now">Shop Now</a>
                    </div>
                </div>
                <div class="item-slide item-slide-3">
                    <div class="slide-desc slide-desc-3">
                        <div class="p-primary">Follow Keeping through Furniture</div>
                        <p>Lorem ipsum dolor sit amet consectetur, adipiscing elit scelerisque turpis</p>
                        <a href="#" class="btn-shop-now">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-daily-deals style1">
        <div class="container">
            <div class="title-of-section">Daily deals</div>
            <div class="owl-carousel nav-style2 border-background equal-container" data-nav="true"
                 data-autoplay="false" data-dots="false" data-loop="true" data-margin="30"
                 data-responsive='{"0":{"items":1},"500":{"items":2},"768":{"items":3},"992":{"items":2}}'>
                <div class="deal-of-day equal-elem">
                    <div class="product-thumb style1">
                        <div class="thumb-inner">
                            <a href="#"><img src="~/Content/images/home2/d1.jpg" alt="d1"></a>
                        </div>
                    </div>
                    <div class="product-innfo">
                        <div class="product-name"><a href="#">Cheetah Turbocharger</a></div>
                        <span class="price">
                            <ins>$229.00</ins>
                            <del>$259.00</del>
                            <span class="onsale">-50%</span>
                        </span>
                        <span class="star-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="review">5 Review(s)</span>
                        </span>
                        <div class="product-count-down">
                            <div class="kt-countdown" data-y="2020" data-m="6" data-d="1" data-h="10" data-i="0"
                                 data-s="0"></div>
                        </div>
                        <a href="#" class="btn-add-to-cart">Add to cart</a>
                    </div>
                </div>
                <div class="deal-of-day equal-elem">
                    <div class="product-thumb style1">
                        <div class="thumb-inner">
                            <a href="#"><img src="~/Content/images/home2/d2.jpg" alt="d2"></a>
                        </div>
                    </div>
                    <div class="product-innfo">
                        <div class="product-name">
                            <a href="#">Pilke Pendant Lamp</a>
                        </div>
                        <span class="price">
                            <ins>$229.00</ins>
                            <del>$259.00</del>
                            <span class="onsale">-50%</span>
                        </span>
                        <span class="star-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="review">5 Review(s)</span>
                        </span>
                        <div class="product-count-down">
                            <div class="kt-countdown" data-y="2020" data-m="7" data-d="1" data-h="20" data-i="0"
                                 data-s="0"></div>
                        </div>
                        <a href="#" class="btn-add-to-cart">Add to cart</a>
                    </div>
                </div>
                <div class="deal-of-day equal-elem">
                    <div class="product-thumb style1">
                        <div class="thumb-inner">
                            <a href="#"><img src="~/Content/images/home2/d1.jpg" alt="d1"></a>
                        </div>
                    </div>
                    <div class="product-innfo">
                        <div class="product-name"><a href="#">Cheetah Turbocharger</a></div>
                        <span class="price">
                            <ins>$229.00</ins>
                            <del>$259.00</del>
                            <span class="onsale">-50%</span>
                        </span>
                        <span class="star-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="review">5 Review(s)</span>
                        </span>
                        <div class="product-count-down">
                            <div class="kt-countdown" data-y="2020" data-m="6" data-d="1" data-h="10" data-i="0"
                                 data-s="0"></div>
                        </div>
                        <a href="#" class="btn-add-to-cart">Add to cart</a>
                    </div>
                </div>
                <div class="deal-of-day equal-elem">
                    <div class="product-thumb style1">
                        <div class="thumb-inner">
                            <a href="#"><img src="~/Content/images/home2/d2.jpg" alt="d2"></a>
                        </div>
                    </div>
                    <div class="product-innfo">
                        <div class="product-name">
                            <a href="#">Pilke Pendant Lamp</a>
                        </div>
                        <span class="price">
                            <ins>$229.00</ins>
                            <del>$259.00</del>
                            <span class="onsale">-50%</span>
                        </span>
                        <span class="star-rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="review">5 Review(s)</span>
                        </span>
                        <div class="product-count-down">
                            <div class="kt-countdown" data-y="2020" data-m="7" data-d="1" data-h="20" data-i="0"
                                 data-s="0"></div>
                        </div>
                        <a href="#" class="btn-add-to-cart">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="promotion-banner style-1">
                        <a href="#" class="banner-img">
                            <img src="~/Content/images/home2/banner-1.jpg" alt="banner-1">
                        </a>
                        <div class="promotion-banner-inner">
                            <h4>Chair Collection</h4>
                            <h3>Sale Up to <strong>40%</strong> Off</h3>
                            <a class="banner-link" href="#">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="promotion-banner style-1">
                        <a href="#" class="banner-img">
                            <img src="~/Content/images/home2/banner-2.jpg"
                                 alt="banner-2">
                        </a>
                        <div class="promotion-banner-inner">
                            <h4>New Arrivals</h4>
                            <h3>Get <strong>25%</strong> Flat Off</h3>
                            <a class="banner-link" href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-section-4">
        <div class="container">
            <div class="title-of-section">Featured Products</div>
            <div class="tab-product tab-product-fade-effect">
                <ul class="box-tabs nav-tab">

                    @{
                        var tl = ViewBag.MaTheloai;
                        var count = 0;
                        foreach (var l in ViewBag.Theloai)
                        {
                            if (count == 0)
                            {
                                <li id="@tl[count]" class="active"><a data-animated="" data-toggle="tab" href="#tab-@tl[count]">@l</a></li>

                            }
                            else
                            {
                                <li id="@tl[count]"><a data-animated="" data-toggle="tab" href="#tab-@tl[count]">@l</a></li>

                            }
                            count = count + 1;
                        }
                    }
                </ul>
                <div class="tab-content">
                    <div class="tab-container">
                        @{
                            count = 0;
                            foreach (var l in ViewBag.Theloai)
                            {
                                if (count == 0)
                                {
                                    <div id="tab-@tl[count]" class="tab-panel active">
                                        <div class="owl-carousel nav-style2 border-background equal-container" data-nav="false"
                                             data-autoplay="false" data-dots="false" data-loop="true" data-margin="30"
                                             data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":4},"1200":{"items":4}}'>
                                            @{ var i = 0;
                                                var kt = 0;

                                                var hh = Model.Where(x => x.MaTheLoai == tl[count]).Select(x => x.MaSanPham).ToArray();

                                                if (hh.Count() % 2 != 0)
                                                {
                                                    kt = 1;
                                                }
                                                for (i = 0; i < hh.Count() - kt; i = i + 2)
                                                {
                                                    <div class="owl-one-row">
                                                        <div class="product-item style1">
                                                            <div class="product-inner equal-elem">
                                                                <div class="product-thumb">
                                                                    <div class="thumb-inner">
                                                                        @*@Model.Where(x => x.MaSanPham == hh[i]).First().Anhs.First().URL*@
                                                                        <a href="#"><img src="~/Content/images/home2/@Model.Where(x => x.MaSanPham == hh[i]).First().Anhs.First().URL" alt="p1"></a>
                                                                    </div>
                                                                    <span class="onsale">-@Model.Where(x => x.MaSanPham == hh[i]).First().KhuyenMai%</span>
                                                                    <a href="#" class="quick-view">Quick View</a>
                                                                </div>
                                                                <div class="product-innfo">
                                                                    <div class="product-name">
                                                                        <a href="#">
                                                                            @Model.Where(x => x.MaSanPham == hh[i]).First().TenSP
                                                                        </a>
                                                                    </div>
                                                                    <span class="price">

                                                                        <ins>$@(@Model.Where(x => x.MaSanPham == hh[i]).First().Gia + @Model.Where(x => x.MaSanPham == hh[i]).First().Gia * @Model.Where(x => x.MaSanPham == hh[i]).First().KhuyenMai / 100)</ins>
                                                                        <del>$@Model.Where(x => x.MaSanPham == hh[i]).First().Gia</del>
                                                                    </span>
                                                                    <span class="star-rating">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <span class="review">5 Review(s)</span>
                                                                    </span>
                                                                    <div class="group-btn-hover">
                                                                        <div class="inner">
                                                                            <a href="#" class="compare">
                                                                                <i class="flaticon-shuffle"></i>
                                                                            </a>
                                                                            <a href="#" class="add-to-cart">Add to cart</a>
                                                                            <a href="#" class="wishlist">
                                                                                <i class="fa fa-heart-o"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-item style1">
                                                            <div class="product-inner equal-elem">
                                                                <div class="product-thumb">
                                                                    <div class="thumb-inner">
                                                                        <a href="#"><img src="~/Content/images/home2/@Model.Where(x => x.MaSanPham == hh[i + 1]).First().Anhs.First().URL" alt="p6"></a>
                                                                    </div>
                                                                    <span class="onsale">-@Model.Where(x => x.MaSanPham == hh[i + 1]).First().KhuyenMai%</span>
                                                                    <a href="#" class="quick-view">Quick View</a>
                                                                </div>
                                                                <div class="product-innfo">
                                                                    <div class="product-name">
                                                                        <a href="#">
                                                                            @Model.Where(x => x.MaSanPham == hh[i + 1]).First().TenSP
                                                                        </a>
                                                                    </div>
                                                                    <span class="price price-dark">
                                                                        <ins>$@(@Model.Where(x => x.MaSanPham == hh[i + 1]).First().Gia - @Model.Where(x => x.MaSanPham == hh[i + 1]).First().Gia * @Model.Where(x => x.MaSanPham == hh[i + 1]).First().KhuyenMai / 100)</ins>
                                                                        <del>$@Model.Where(x => x.MaSanPham == hh[i + 1]).First().Gia</del>
                                                                    </span>
                                                                    <span class="star-rating">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <span class="review">5 Review(s)</span>
                                                                    </span>
                                                                    <div class="group-btn-hover">
                                                                        <div class="inner">
                                                                            <a href="#" class="compare">
                                                                                <i class="flaticon-shuffle"></i>
                                                                            </a>
                                                                            <a href="#" class="add-to-cart">Add to cart</a>
                                                                            <a href="#" class="wishlist">
                                                                                <i class="fa fa-heart-o"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div> }
                                            }


                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div id="tab-@tl[count]" class="tab-panel">
                                        <div class="owl-carousel nav-style2 border-background equal-container" data-nav="false"
                                             data-autoplay="false" data-dots="false" data-loop="true" data-margin="30"
                                             data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":4},"1200":{"items":4}}'>
                                            @{ var i = 0;
                                                var kt = 0;

                                                var hh = Model.Where(x => x.MaTheLoai == tl[count]).Select(x => x.MaSanPham).ToArray();

                                                if (hh.Count() % 2 != 0)
                                                {
                                                    kt = 1;
                                                }
                                                for (i = 0; i < hh.Count() - kt; i = i + 2)
                                                {
                                                    <div class="owl-one-row">
                                                        <div class="product-item style1">
                                                            <div class="product-inner equal-elem">
                                                                <div class="product-thumb">
                                                                    <div class="thumb-inner">
                                                                        @*@Model.Where(x => x.MaSanPham == hh[i]).First().Anhs.First().URL*@
                                                                        <a href="#"><img src="~/Content/images/home2/@Model.Where(x => x.MaSanPham == hh[i]).First().Anhs.First().URL" alt="p1"></a>
                                                                    </div>
                                                                    <span class="onsale">-@Model.Where(x => x.MaSanPham == hh[i]).First().KhuyenMai%</span>
                                                                    <a href="#" class="quick-view">Quick View</a>
                                                                </div>
                                                                <div class="product-innfo">
                                                                    <div class="product-name">
                                                                        <a href="#">
                                                                            @Model.Where(x => x.MaSanPham == hh[i]).First().TenSP
                                                                        </a>
                                                                    </div>
                                                                    <span class="price">

                                                                        <ins>$@(@Model.Where(x => x.MaSanPham == hh[i]).First().Gia + @Model.Where(x => x.MaSanPham == hh[i]).First().Gia * @Model.Where(x => x.MaSanPham == hh[i]).First().KhuyenMai / 100)</ins>
                                                                        <del>$@Model.Where(x => x.MaSanPham == hh[i]).First().Gia</del>
                                                                    </span>
                                                                    <span class="star-rating">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <span class="review">5 Review(s)</span>
                                                                    </span>
                                                                    <div class="group-btn-hover">
                                                                        <div class="inner">
                                                                            <a href="#" class="compare">
                                                                                <i class="flaticon-shuffle"></i>
                                                                            </a>
                                                                            <a href="#" class="add-to-cart">Add to cart</a>
                                                                            <a href="#" class="wishlist">
                                                                                <i class="fa fa-heart-o"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="product-item style1">
                                                            <div class="product-inner equal-elem">
                                                                <div class="product-thumb">
                                                                    <div class="thumb-inner">
                                                                        <a href="#"><img src="~/Content/images/home2/@Model.Where(x => x.MaSanPham == hh[i+1]).First().Anhs.First().URL" alt="p6"></a>
                                                                    </div>
                                                                    <span class="onsale">-@Model.Where(x => x.MaSanPham == hh[i + 1]).First().KhuyenMai%</span>
                                                                    <a href="#" class="quick-view">Quick View</a>
                                                                </div>
                                                                <div class="product-innfo">
                                                                    <div class="product-name">
                                                                        <a href="#">
                                                                            @Model.Where(x => x.MaSanPham == hh[i + 1]).First().TenSP
                                                                        </a>
                                                                    </div>
                                                                    <span class="price price-dark">
                                                                        <ins>$@(@Model.Where(x => x.MaSanPham == hh[i+1]).First().Gia - @Model.Where(x => x.MaSanPham == hh[i+1]).First().Gia * @Model.Where(x => x.MaSanPham == hh[i+1]).First().KhuyenMai / 100)</ins>
                                                                        <del>$@Model.Where(x => x.MaSanPham == hh[i + 1]).First().Gia</del>
                                                                    </span>
                                                                    <span class="star-rating">
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                                        <span class="review">5 Review(s)</span>
                                                                    </span>
                                                                    <div class="group-btn-hover">
                                                                        <div class="inner">
                                                                            <a href="#" class="compare">
                                                                                <i class="flaticon-shuffle"></i>
                                                                            </a>
                                                                            <a href="#" class="add-to-cart">Add to cart</a>
                                                                            <a href="#" class="wishlist">
                                                                                <i class="fa fa-heart-o"
                                                                                   aria-hidden="true"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div> }
                                            }


                                        </div>
                                    </div>
                                }
                                count = count + 1;

                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-section-5">
        <div class="full-width background-section-5">
            <div class="container">
                <div class="title-of-section style2">Top Selling</div>
                <div class="tab-product tab-product-fade-effect">
                    <ul class="box-tabs nav-tab style2">
                        <li class="active">
                            <a data-animated="" data-toggle="tab" href="#tab-3">All Products </a>
                        </li>
                        <li><a data-animated="" data-toggle="tab" href="#tab-4">Sofas</a></li>
                        <li><a data-animated="" data-toggle="tab" href="#tab-3">Lamp</a></li>
                        <li><a data-animated="" data-toggle="tab" href="#tab-4">Clock</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-container">
                            <div id="tab-3" class="tab-panel active">
                                <div class="owl-carousel" data-nav="false" data-autoplay="false" data-dots="false"
                                     data-loop="true" data-margin="30"
                                     data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":3},"1200":{"items":3}}'>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t1.jpg"
                                                                 alt="t1">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Colonial Chair
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onsale">-50%</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t4.jpg"
                                                                 alt="t4">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Wegner Classic
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onnew">new</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t2.jpg"
                                                                 alt="t2">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Tulip Chair
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onnew">new</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t5.jpg"
                                                                 alt="t5">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Round Basket
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t3.jpg"
                                                                 alt="t3">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Dining Table
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t6.jpg"
                                                                 alt="t6">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Pendant Lamp
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onsale">-50%</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab-4" class="tab-panel">
                                <div class="owl-carousel" data-nav="false" data-autoplay="false" data-dots="false"
                                     data-loop="true" data-margin="30"
                                     data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":3},"1200":{"items":3}}'>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t1.jpg"
                                                                 alt="t1">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Wall Lamp
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onsale">-50%</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t4.jpg"
                                                                 alt="t4">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            April Tables
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onnew">new</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t2.jpg"
                                                                 alt="t2">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Solvay Table
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onnew">new</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t5.jpg"
                                                                 alt="t5">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Slice Table
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="owl-one-row">
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t3.jpg"
                                                                 alt="t3">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Risom Table
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-item style2">
                                            <div class="product-inner">
                                                <div class="product-thumb style1">
                                                    <div class="thumb-inner">
                                                        <a href="#">
                                                            <img src="~/Content/images/home2/t6.jpg"
                                                                 alt="t6">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="product-innfo">
                                                    <div class="product-name">
                                                        <a href="#">
                                                            Read Book Shelf
                                                        </a>
                                                    </div>
                                                    <span class="price">
                                                        <ins>$229.00</ins>
                                                        <del>$259.00</del>
                                                        <span class="onsale">-50%</span>
                                                    </span>
                                                    <span class="star-rating">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <span class="review">5 Review(s)</span>
                                                    </span>
                                                    <a href="#" class="btn-add-to-cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-section-6">
        <div class="container">
            <div class="promotion-banner box-single style-2">
                <a href="#" class="banner-img"><img src="~/Content/images/home2/banner-3.jpg" alt="banner-3"></a>
                <div class="promotion-banner-inner">
                    <h4>Living Room Furniture</h4>
                    <h3>ALL NEW CHAIR ACCESSORIES</h3>
                    <a class="banner-link" href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="block-recent-view">
        <div class="container">
            <div class="title-of-section">Recently Products</div>
            <div class="owl-carousel nav-style2 border-background equal-container" data-nav="true"
                 data-autoplay="false" data-dots="false" data-loop="true" data-margin="30"
                 data-responsive='{"0":{"items":1},"480":{"items":2},"768":{"items":3},"992":{"items":4},"1200":{"items":4}}'>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r1.jpg" alt="r1"></a>
                            </div>
                            <span class="onsale">-50%</span>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">Largo Wall Lamp</a></div>
                            <span class="price">
                                <ins>$229.00</ins>
                                <del>$259.00</del>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r2.jpg" alt="r2"></a>
                            </div>
                            <span class="onnew">new</span>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">Pilke Pendant Lamp</a></div>
                            <span class="price price-dark">
                                <ins>$229.00</ins>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r3.jpg" alt="r3"></a>
                            </div>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">DAX Armchair</a></div>
                            <span class="price price-dark">
                                <ins>$229.00</ins>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r4.jpg" alt="r4"></a>
                            </div>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">Grand Prix Chair</a></div>
                            <span class="price price-dark">
                                <ins>$229.00</ins>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r5.jpg" alt="r5"></a>
                            </div>
                            <span class="onsale">-50%</span>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">Flow Chair Stacking</a></div>
                            <span class="price">
                                <ins>$229.00</ins>
                                <del>$259.00</del>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item style1">
                    <div class="product-inner equal-elem">
                        <div class="product-thumb">
                            <div class="thumb-inner">
                                <a href="#"><img src="~/Content/images/home2/r6.jpg" alt="r6"></a>
                            </div>
                            <a href="#" class="quick-view">Quick View</a>
                        </div>
                        <div class="product-innfo">
                            <div class="product-name"><a href="#">Largo Wall Lamp</a></div>
                            <span class="price price-dark">
                                <ins>$229.00</ins>
                            </span>
                            <span class="star-rating">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span class="review">5 Review(s)</span>
                            </span>
                            <div class="group-btn-hover style2">
                                <a href="#" class="add-to-cart">
                                    <i class="flaticon-shopping-cart"
                                       aria-hidden="true"></i>
                                </a>
                                <a href="#" class="compare"><i class="flaticon-shuffle"></i></a>
                                <a href="#" class="wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $("li").click(function (e) {
        var id = $(this).attr("id");
        $.ajax({
            url: "RenderMainByCatId",
            data: { CatId: id },
            success: function (response) {

            }
        });
    });
</script>

